{% extends "index.html" %} {% load static %} {% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12 p-5">
            <h3>Inbox</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 p-5">
            <form method="GET" action="{% url 'create-thread' %}">
                <button class="btn btn-light p-3" type="submit">Start a Conversation</button>
            </form>
        </div>
    </div>

    {% for thread in threads.all %}
    {% if u == thread.receiver %}
    <div class="row mb-3">
        <div class="card col-md-12 p-5 shadow-sm">
            <a class="stretched-link" href="{% url 'thread' thread.pk %}"><img
                    src="{{ thread.user.profile.image.url }}"
                    class="rounded-circle"
                    width="30"
                    height="30"
                    alt=""/> {{thread.user}}</a>
        </div>
    </div>
    {% else %}
    <div class="row mb-3">
        <div class="card col-md-12 p-5 shadow-sm">
            <a class="stretched-link" href="{% url 'thread' thread.pk %}"><img
                    src="{{ thread.receiver.profile.image.url }}"
                    class="rounded-circle"
                    width="30"
                    height="30"
                    alt=""/> {{ thread.receiver }}</a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>

{% endblock content %}