{% extends "index.html" %} {% load static %} {% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="card col-md-12 mt-5 p-3 shadow-sm">
            {% if thread.receiver == request.user %}
            <div><a href="{{ thread.user.profile.get_absolute_url }}"><img
                    src="{{ thread.user.profile.image.url }}"
                    class="rounded-circle"
                    width="30"
                    height="30"
                    alt=""
            /></a>  {{ thread.user }}<a
                    class="btn btn-danger float-right"
                    href="{% url 'inbox-delete' thread.pk %}"
                    style="text-align:right"
            >Delete</a></div>
            {% else %}
            <div><a href="{{ thread.receiver.profile.get_absolute_url }}"><img
                    src="{{ thread.receiver.profile.image.url }}"
                    class="rounded-circle"
                    width="30"
                    height="30"
                    alt=""
            /></a>  {{ thread.receiver }}
                <a
                    class="btn btn-danger float-right"
                    href="{% url 'inbox-delete' thread.pk %}"
                    style="text-align:right"
            >Delete</a></div>
            {% endif %}
        </div>

    </div>

    {% if message_list.all.count == 0 %}
    <div class="row my-5">
        <div class="col-md-12">
            <p class="empty-text">No Messages</p>
        </div>
    </div>
    {% endif %}

    {% for message in message_list %}
    <div class="row">
        <div class="container">
            {% if message.sender_user == u %}
                <a href="{{ request.user.profile.get_absolute_url }}"><img
                        src="{{ request.user.profile.image.url }}"
                        class="rounded-circle"
                        width="30"
                        height="30"
                        alt=""
                        align="right"
                /></a>
                <div class="bubble you" align="right">
                    <p>{{ message.body }}</p>
                </div>
            {% else %}
                <a href="{{ message.sender_user.profile.get_absolute_url }}"><img
                        src="{{ message.sender_user.profile.image.url }}"
                        class="rounded-circle"
                        width="30"
                        height="30"
                        alt=""
                        align="left"
                /></a>
                <div class="bubble me" align="left">
                    <p>{{ message.body }}</p>
                </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}

    <div class="row">
        <div class="card col-md-12 p-3 shadow-sm">
            <form method="POST" action="{% url 'create-message' thread.pk %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <button class="fa fa-paper-plane float-right" type="submit"></button>
            </form>
        </div>
    </div>
</div>


{% endblock content %}